body {
	background-color: #f9fbff;
	font-family: helvetica;
	display: block;
	margin: 0 auto;
}



@media screen and (min-width: 0px) and (max-width: 750px) {
	.hg404{
		width: 300px !important;
		margin-left: -150px !important;
	}
	.hg404 img{
		width: 300px !important;
	}
}
@media screen and (min-width: 750px) and (max-width: 1400px) {}
@media screen and (min-width: 1400px) and (max-width: 30000px) {}